---
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@/components/sections/HeroSection";
import ConsultoriaSection from "@/components/sections/ConsultoriaSection";
import ServiciosSection from "@/components/sections/ServiciosSection";
import ProcesoSection from "@/components/sections/ProcesoSection";
import MarcasSection from "@/components/sections/MarcasSection";
import SobreMiSection from "@/components/sections/SobreMiSection";
import NewsletterSection from "@/components/sections/NewsletterSection";
import FooterSection from "@/components/sections/FooterSection";
import { getSiteContent } from "@/i18n";

const content = getSiteContent("en");
---

<MainLayout locale="en">
  <HeroSection client:load content={content} />
  <main>
    <ConsultoriaSection client:visible content={content} />
    <ServiciosSection client:visible content={content} />
    <ProcesoSection client:visible content={content} />
    <MarcasSection client:visible content={content} />
    <SobreMiSection client:visible content={content} />
    <NewsletterSection client:visible content={content} />
  </main>
  <FooterSection client:visible content={content} />
</MainLayout>
